In [1]:
import csv as csv
import numpy as np
import pandas as pd

In [9]:
def readCrashData(accYearStart, accYearEnd, nrows=None):
    dir = 'NHTSA-FARS-download/'
    usecols = ['MOD_YEAR', 'MAKE', 'MODEL', 'DEATHS']

    dfCrash = None
    for accYear in range(accYearStart, accYearEnd + 1):

        print( accYear,'', end='')
        df = pd.read_csv(
            f'{dir}vehicle{accYear}.csv', encoding='latin1', header=0, usecols=usecols, nrows=nrows)  
#             f'{dir}tesla{accYear}.csv', encoding='latin1', header=0, usecols=usecols, nrows=nrows)  
            #.astype(str)      # , dtype={'DEATHS':'int32'}        

        df['ACC_YEAR'] = accYear
        if dfCrash is None:
            dfCrash = df
        else:
            dfCrash = pd.concat([dfCrash, df], ignore_index=True)
    
    print('')
    dfCrash = dfCrash.rename(columns = {'MAKE':'Make_ID', 'MODEL':'Model_ID', 'DEATHS':'fatalities'})

    return dfCrash

In [18]:
df = readCrashData(2019,2019)
dfTesla = df.query('Make_ID == 29')
print(len(dfTesla))
print(dfTesla)

2019
40
       Make_ID  Model_ID  MOD_YEAR  fatalities  ACC_YEAR
3805        29         5      2018           0      2019
4235        29         5      2014           1      2019
6130        29         5      2018           1      2019
6248        29         5      2018           0      2019
6309        29         5      2019           1      2019
6483        29         5      2018           0      2019
6647        29         5      2017           0      2019
6868        29         5      2018           0      2019
6907        29         5      2019           0      2019
7550        29         5      2016           0      2019
7575        29         5      2014           0      2019
7636        29         5      2018           0      2019
7910        29         5      2018           1      2019
8090        29         5      2018           0      2019
8226        29         5      2019           0      2019
8285        29         5      2016           0      2019
8513        29         5      2018           0      2019
9973        29         5      2018           0      2019
10043       29         5      2018           0      2019
10793       29         5      2018           1      2019
10851       29         5      2018           1      2019
11336       29         5      2016           1      2019
11534       29         5      2019           0      2019
13322       29         5      2019           1      2019
14003       29         5      2015           0      2019
14062       29         5      2019           1      2019
14802       29         5      2018           2      2019
20152       29         5      2019           1      2019
20464       29         5      2016           0      2019
28056       29         5      2018           0      2019
29533       29         5      2019           0      2019
29688       29         5      2020           0      2019
35687       29         5      2017           0      2019
38708       29         5      2019           1      2019
38864       29         5      2019           0      2019
47334       29         5      2019           0      2019
47475       29         5      2019           0      2019
49172       29         5      2018           0      2019
50192       29         5      2014           1      2019
50923       29         5      2018           1      2019

In [19]:
df = readCrashData(2018,2020)
dfTesla = df.query('Make_ID == 29 and MOD_YEAR == 2018')
print(len(dfTesla))
print(dfTesla)

2018 2019 2020
28
        Make_ID  Model_ID  MOD_YEAR  fatalities  ACC_YEAR
8678         29         5      2018           0      2018
50176        29         5      2018           1      2018
56091        29         5      2018           0      2019
58416        29         5      2018           1      2019
58534        29         5      2018           0      2019
58769        29         5      2018           0      2019
59154        29         5      2018           0      2019
59922        29         5      2018           0      2019
60196        29         5      2018           1      2019
60376        29         5      2018           0      2019
60799        29         5      2018           0      2019
62259        29         5      2018           0      2019
62329        29         5      2018           0      2019
63079        29         5      2018           1      2019
63137        29         5      2018           1      2019
67088        29         5      2018           2      2019
80342        29         5      2018           0      2019
101458       29         5      2018           0      2019
103209       29         5      2018           1      2019
108402       29         5      2018           1      2020
109219       29         5      2018           0      2020
109252       29         5      2018           0      2020
111426       29         5      2018           2      2020
112638       29         5      2018           0      2020
113120       29         5      2018           0      2020
114669       29         5      2018           0      2020
129716       29         5      2018           0      2020
155507       29         5      2018           0      2020